{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid']) }) -%}

{%- set hasSecondary = false -%}
{%- for area in content if area.area|default('full') == 'secondary' and area.content|default([])|length -%}
  {%- set hasSecondary = true -%}
{%- endfor -%}

{%- if hasSecondary -%}
  {%- set attributes = attributes|merge({class: attributes.class|merge(['content-grid--has-secondary']) }) -%}
{%- endif -%}

<{{ element|default('div') }} {{- attributes(attributes|default({})) }}>

  {%- for area in content -%}
    {%- with area only -%}

      {%- block item -%}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid__item']) }) -%}

        {%- if area is defined -%}

          {%- if content|default([])|length -%}

            {%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}
            {%- from '@LiberoPatterns/includes.html.twig' import include -%}

            {%- set attributes = attributes|merge({class: attributes.class|merge(['content-grid__item--' ~ area]) }) -%}

            <div {{- attributes(attributes|default({})) }}>
              {{- include(content) -}}
            </div>

          {%- endif -%}

        {%- else -%}

          {%- with arguments|merge({_template: template}) only -%}

            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['content-grid__item'])}) -%}

            {%- include _template -%}

          {%- endwith -%}

        {%- endif -%}

      {%- endblock item -%}

    {%- endwith -%}
  {%- endfor -%}

</{{ element|default('div') }}>
