{%- from '@LiberoPatterns/attributes.html.twig' import attributes -%}
{%- from '@LiberoPatterns/includes.html.twig' import include -%}

{% spaceless %}

  {%- if attributes|default({}).href is defined -%}
    <a {{- attributes(attributes|default({})) }}>{{- include(text) -}}</a>
  {%- elseif attributes|default({})|length -%}
    <span {{- attributes(attributes|default({})) }}>{{- include(text) -}}</span>
  {%- else -%}
    {{- include(text) -}}
  {%- endif -%}

{% endspaceless %}
