{%- import '@LiberoPatterns/html.html.twig' as html -%}

{% spaceless %}

  {%- if attributes|default({}).href is defined -%}
    <a {{- html.attributes(attributes) }}>{{- html.content(text) -}}</a>
  {%- elseif attributes|default({})|length -%}
    <span {{- html.attributes(attributes) }}>{{- html.content(text) -}}</span>
  {%- else -%}
    {{- html.content(text) -}}
  {%- endif -%}

{% endspaceless %}
